.div-main {
  margin-bottom: 10px;
  margin-top: 10px;
  padding-left: 26.5%;
  .label {
    width: 60%;
    .input {
      padding-left: 0%;
      width: 120%;
    }
    .second {
      .button {
        margin-left: 50%;
      }
    }
  }
}
